@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #708090;
  height: 100vh;
}

.main-login {
  height: 40%;
}

input {
  outline: none;
  border: none;
  border-radius: 7px;
  padding: 5px 7px;
  margin: 5px 0 5px 0;
}

.login-input {
  margin-bottom: 10px;
}

.sign-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up {
  cursor: pointer;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 15px;
}

.form-confirm-password {
  margin-top: 20px;
}

.form-confirm-password-hidden {
  margin-top: 20px;
  display: none;
}

.registration-button {
  display: flex;
  justify-content: center;
}















.initial {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4682B4;
  height: 180px;
  width: 300px;
  border-radius: 20px;
  font-size: 2em;
}

.rotate {
  transform: rotate3d(1, 2.0, 3.0, -360deg) translateY(-300px);
  transition: 4s;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4682B4;
  height: 180px;
  width: 300px;
  border-radius: 20px;
  font-size: 2em;
}

.back {
  transform: rotate3d(1, 2.0, 3.0, 360deg) translateY(0px);
  transition: 4s;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4682B4;;
  height: 180px;
  width: 300px;
  border-radius: 20px;
  font-size: 2em;
}
